Dscf.Settlement.CarLoanBLL/Service References/DscfCarLoanService/DscfCarLoanService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:11416/DscfCarLoanService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dscf.CarLoan.Dto" />
  <xs:import schemaLocation="http://localhost:11416/DscfCarLoanService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:11416/DscfCarLoanService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Dscf.Global" />
  <xs:element name="QueryUserInfoList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryUserInfoListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dscf.CarLoan.Dto" minOccurs="0" name="QueryUserInfoListResult" nillable="true" type="q1:ArrayOfCarUserInfoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrderCollectStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderId" type="xs:int" />
        <xs:element minOccurs="0" name="collectStatus" type="xs:int" />
        <xs:element minOccurs="0" name="optId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrderCollectStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateOrderCollectStatusResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrderCollectStatusBatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="orderIds" nillable="true" type="q2:ArrayOfint" />
        <xs:element minOccurs="0" name="collectStatus" type="xs:int" />
        <xs:element minOccurs="0" name="optId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrderCollectStatusBatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateOrderCollectStatusBatchResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectLoanProductOrderList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dscf.CarLoan.Dto" minOccurs="0" name="loanSearchaRequest" nillable="true" type="q3:LoanSearchaRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectLoanProductOrderListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dscf.Global" minOccurs="0" name="SelectLoanProductOrderListResult" nillable="true" type="q4:PagedLoanProductOrderDtoList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoanProductOrderInfoByOrderId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoanProductOrderInfoByOrderIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Dscf.CarLoan.Dto" minOccurs="0" name="GetLoanProductOrderInfoByOrderIdResult" nillable="true" type="q5:LoanProductOrderDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRepayRemindList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RepayIdArray" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRepayRemindListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Dscf.CarLoan.Dto" minOccurs="0" name="GetRepayRemindListResult" nillable="true" type="q6:ArrayOfCarRemindListDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPageOverdueList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageNum" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="isLongLoan" nillable="true" type="xs:boolean" />
        <xs:element minOccurs="0" name="optId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPageOverdueListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Dscf.Global" minOccurs="0" name="GetPageOverdueListResult" nillable="true" type="q7:PagedCarOverdueListDtoList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoanProductOrderDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoanProductOrderDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Dscf.CarLoan.Dto" minOccurs="0" name="GetLoanProductOrderDetailResult" nillable="true" type="q8:CarLoanOrderDetailDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoanProductOrderSingleById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoanProductOrderSingleByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Dscf.CarLoan.Dto" minOccurs="0" name="GetLoanProductOrderSingleByIdResult" nillable="true" type="q9:LoanOrderDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLoanProductOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Dscf.CarLoan.Dto" minOccurs="0" name="orderDto" nillable="true" type="q10:LoanOrderDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLoanProductOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateLoanProductOrderResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditLoanOrderReminderByOrderId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderId" type="xs:int" />
        <xs:element minOccurs="0" name="deptOptId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditLoanOrderReminderByOrderIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditLoanOrderReminderByOrderIdResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPageDeductApprovalList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageNum" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="keyList" nillable="true" type="q11:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPageDeductApprovalListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Dscf.Global" minOccurs="0" name="GetPageDeductApprovalListResult" nillable="true" type="q12:PagedCarOverdueListDtoList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoanMonthRepayInfoByOrderId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoanMonthRepayInfoByOrderIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Dscf.CarLoan.Dto" minOccurs="0" name="GetLoanMonthRepayInfoByOrderIdResult" nillable="true" type="q13:ArrayOfLoanMonthRepayDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPageRepayRemindList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageNum" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="isLongLoan" type="xs:boolean" />
        <xs:element minOccurs="0" name="optId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPageRepayRemindListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Dscf.Global" minOccurs="0" name="GetPageRepayRemindListResult" nillable="true" type="q14:PagedCarRemindListDtoList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRepayRemindByRepayId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="repayId" type="xs:int" />
        <xs:element minOccurs="0" name="isRemind" type="xs:int" />
        <xs:element minOccurs="0" name="operatorId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRepayRemindByRepayIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateRepayRemindByRepayIdResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCarRemindDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderId" type="xs:int" />
        <xs:element minOccurs="0" name="repayId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCarRemindDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Dscf.CarLoan.Dto" minOccurs="0" name="GetCarRemindDetailResult" nillable="true" type="q15:CarRemidDetailDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIsRemindCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isLongLoan" type="xs:boolean" />
        <xs:element minOccurs="0" name="optId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIsRemindCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Dscf.CarLoan.Dto" minOccurs="0" name="GetIsRemindCountResult" nillable="true" type="q16:CarCountDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLoanExtensionApplyByDto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Dscf.CarLoan.Dto" minOccurs="0" name="carLoanExtensionApplyDto" nillable="true" type="q17:CarLoanExtensionApplyDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLoanExtensionApplyByDtoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddLoanExtensionApplyByDtoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExhibitionReviewlist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExhibitionReviewlistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Dscf.CarLoan.Dto" minOccurs="0" name="GetExhibitionReviewlistResult" nillable="true" type="q18:ArrayOfExhibitionReviewDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertExhibitionReview">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Dscf.CarLoan.Dto" minOccurs="0" name="reviewDto" nillable="true" type="q19:ExhibitionReviewDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertExhibitionReviewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertExhibitionReviewResult" type="xs:boolean" />
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Dscf.CarLoan.Dto" minOccurs="0" name="dto" nillable="true" type="q20:ExhibitionReviewDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateExhibitionReview">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Dscf.CarLoan.Dto" minOccurs="0" name="reviewDto" nillable="true" type="q21:ExhibitionReviewDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateExhibitionReviewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateExhibitionReviewResult" type="xs:boolean" />
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Dscf.CarLoan.Dto" minOccurs="0" name="dto" nillable="true" type="q22:ExhibitionReviewDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertImages">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Dscf.CarLoan.Dto" minOccurs="0" name="dto" nillable="true" type="q23:ImagesDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertImagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertImagesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteImages">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteImagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteImagesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImages">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Dscf.CarLoan.Dto" minOccurs="0" name="GetImagesResult" nillable="true" type="q24:ArrayOfImagesDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelImgFalse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelImgFalseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelImgFalseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>