Dscf.PostLoan.LoanAfterBLL/Service References/DscfLoanAfterService/DscfLoanAfterService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3790/DscfLoanAfterService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dscf.LoanAfter.Dto" />
  <xs:import schemaLocation="http://localhost:3790/DscfLoanAfterService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/Message" />
  <xs:import schemaLocation="http://localhost:3790/DscfLoanAfterService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Dscf.PostLoanGlobal" />
  <xs:import schemaLocation="http://localhost:3790/DscfLoanAfterService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetRepayRemindListByKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="repayId" type="xs:int" />
        <xs:element minOccurs="0" name="orderType" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRepayRemindListByKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dscf.LoanAfter.Dto" minOccurs="0" name="GetRepayRemindListByKeyResult" nillable="true" type="q1:ArrayOfRepayRemindDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRepayRemindListByKeys">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productName" type="xs:int" />
        <xs:element minOccurs="0" name="timeBegin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="timeEnd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRepayRemindListByKeysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dscf.LoanAfter.Dto" minOccurs="0" name="GetRepayRemindListByKeysResult" nillable="true" type="q2:ArrayOfRemindExcleDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRepayMindByDto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dscf.LoanAfter.Dto" minOccurs="0" name="repayRemindDto" nillable="true" type="q3:RepayRemindDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRepayMindByDtoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddRepayMindByDtoResult" type="xs:boolean" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dscf.LoanAfter.Dto" minOccurs="0" name="dto" nillable="true" type="q4:RepayRemindDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditRepayMindByDto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Dscf.LoanAfter.Dto" minOccurs="0" name="repayRemindDto" nillable="true" type="q5:RepayRemindDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditRepayMindByDtoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditRepayMindByDtoResult" type="xs:boolean" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Dscf.LoanAfter.Dto" minOccurs="0" name="dto" nillable="true" type="q6:RepayRemindDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelRepayMindByDto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Dscf.LoanAfter.Dto" minOccurs="0" name="repayRemindDto" nillable="true" type="q7:RepayRemindDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelRepayMindByDtoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelRepayMindByDtoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDeductPayApply">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Dscf.LoanAfter.Dto" minOccurs="0" name="deductPayApplyDto" nillable="true" type="q8:DeductPayApplyDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDeductPayApplyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddDeductPayApplyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpFileMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/Message" name="FileStream" type="q9:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsImage" type="xs:boolean" />
  <xs:element name="OriginalFileName" nillable="true" type="xs:string" />
  <xs:element name="ThumbHeight" nillable="true" type="xs:int" />
  <xs:element name="ThumbWidth" nillable="true" type="xs:int" />
  <xs:element name="UpFileResultMessage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FileName" nillable="true" type="xs:string" />
  <xs:element name="FilePath" nillable="true" type="xs:string" />
  <xs:element name="FileSuffix" nillable="true" type="xs:string" />
  <xs:element name="IsSuccess" type="xs:boolean" />
  <xs:element name="Message" nillable="true" type="xs:string" />
  <xs:element name="SaveFileName" nillable="true" type="xs:string" />
  <xs:element name="ThumbPath" nillable="true" type="xs:string" />
  <xs:element name="GetDeductPayApplyAndFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderId" type="xs:int" />
        <xs:element minOccurs="0" name="orderType" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeductPayApplyAndFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Dscf.LoanAfter.Dto" minOccurs="0" name="GetDeductPayApplyAndFileResult" nillable="true" type="q10:DeductPayApplyDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStatusByApplyId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="applyId" type="xs:int" />
        <xs:element minOccurs="0" name="boolean" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStatusByApplyIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateStatusByApplyIdResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeductPayList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageNum" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeductPayListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Dscf.PostLoanGlobal" minOccurs="0" name="GetDeductPayListResult" nillable="true" type="q11:PagedApprovalListDtoList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateApplyStatusBatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="creditOrderIds" nillable="true" type="q12:ArrayOfint" />
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="carOrderIds" nillable="true" type="q13:ArrayOfint" />
        <xs:element minOccurs="0" name="status" type="xs:int" />
        <xs:element minOccurs="0" name="operatorId" type="xs:int" />
        <xs:element minOccurs="0" name="reason" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateApplyStatusBatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateApplyStatusBatchResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateApplyStatusByKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderId" type="xs:int" />
        <xs:element minOccurs="0" name="orderType" type="xs:int" />
        <xs:element minOccurs="0" name="status" type="xs:int" />
        <xs:element minOccurs="0" name="operatorId" type="xs:int" />
        <xs:element minOccurs="0" name="reason" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateApplyStatusByKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateApplyStatusByKeyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPageDeductPayList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageNum" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="applyId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPageDeductPayListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Dscf.PostLoanGlobal" minOccurs="0" name="GetPageDeductPayListResult" nillable="true" type="q14:PagedDeductPayApplyDtoList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectCarDeductOrderList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageNum" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="orderType" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectCarDeductOrderListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Dscf.PostLoanGlobal" minOccurs="0" name="SelectCarDeductOrderListResult" nillable="true" type="q15:PagedCarDeductPayInfoDtoList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectCreditDeductOrderList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageNum" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="applyId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectCreditDeductOrderListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Dscf.PostLoanGlobal" minOccurs="0" name="SelectCreditDeductOrderListResult" nillable="true" type="q16:PagedThroughListDtoList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCollectionInfoAndUpFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Dscf.LoanAfter.Dto" minOccurs="0" name="dto" nillable="true" type="q17:CollectionInfoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCollectionInfoAndUpFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertCollectionInfoAndUpFileResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCollectionInfoByKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderId" type="xs:int" />
        <xs:element minOccurs="0" name="orderType" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCollectionInfoByKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Dscf.LoanAfter.Dto" minOccurs="0" name="GetCollectionInfoByKeyResult" nillable="true" type="q18:ArrayOfCollectionInfoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelCollectionInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="operaterId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelCollectionInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelCollectionInfoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCollectionInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Dscf.LoanAfter.Dto" minOccurs="0" name="dto" nillable="true" type="q19:CollectionInfoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCollectionInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateCollectionInfoResult" type="xs:boolean" />
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Dscf.LoanAfter.Dto" minOccurs="0" name="colletion" nillable="true" type="q20:CollectionInfoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExtraInfoListByOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderId" type="xs:int" />
        <xs:element minOccurs="0" name="orderType" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExtraInfoListByOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Dscf.LoanAfter.Dto" minOccurs="0" name="GetExtraInfoListByOrderResult" nillable="true" type="q21:ArrayOfExtraInfoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertExtraInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Dscf.LoanAfter.Dto" minOccurs="0" name="extradDto" nillable="true" type="q22:ExtraInfoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertExtraInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertExtraInfoResult" type="xs:boolean" />
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Dscf.LoanAfter.Dto" minOccurs="0" name="dto" nillable="true" type="q23:ExtraInfoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateExtraInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Dscf.LoanAfter.Dto" minOccurs="0" name="extradDto" nillable="true" type="q24:ExtraInfoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateExtraInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateExtraInfoResult" type="xs:boolean" />
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Dscf.LoanAfter.Dto" minOccurs="0" name="dto" nillable="true" type="q25:ExtraInfoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelExtraInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelExtraInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelExtraInfoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoanAfterProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" type="xs:int" />
        <xs:element minOccurs="0" name="productTypeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoanAfterProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Dscf.LoanAfter.Dto" minOccurs="0" name="GetLoanAfterProductResult" nillable="true" type="q26:ArrayOfExcleInfoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>