Dscf.PostLoan.Web/Service References/DscfBIService/DscfBIService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8010/DscfBIService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dscf.BusinessIntegrate.Contract" />
  <xs:element name="GetPlatformMenuListByOptId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="optCookie" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="platformId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlatformMenuListByOptIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dscf.BusinessIntegrate.Contract" minOccurs="0" name="GetPlatformMenuListByOptIdResult" nillable="true" type="q1:ArrayOfMenuEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlatformPermissionListByOptId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="optCookie" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="platformId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlatformPermissionListByOptIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dscf.BusinessIntegrate.Contract" minOccurs="0" name="GetPlatformPermissionListByOptIdResult" nillable="true" type="q2:ArrayOfPermissionEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOperaterInfoByCookie">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="optCookie" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="platformId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOperaterInfoByCookieResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dscf.BusinessIntegrate.Contract" minOccurs="0" name="GetOperaterInfoByCookieResult" nillable="true" type="q3:OperaterEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthOperaterIsLicit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dscf.BusinessIntegrate.Contract" minOccurs="0" name="authOptRequest" nillable="true" type="q4:AuthOptRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthOperaterIsLicitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Dscf.BusinessIntegrate.Contract" minOccurs="0" name="AuthOperaterIsLicitResult" nillable="true" type="q5:AuthResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAccessPlatformListByCookie">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="optCookie" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAccessPlatformListByCookieResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Dscf.BusinessIntegrate.Contract" minOccurs="0" name="SelectAccessPlatformListByCookieResult" nillable="true" type="q6:ArrayOfPlatformEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SeleOperaterListByCookie">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="optCookie" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SeleOperaterListByCookieResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Dscf.BusinessIntegrate.Contract" minOccurs="0" name="SeleOperaterListByCookieResult" nillable="true" type="q7:ArrayOfOperaterEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>