Dscf.SettleMents.Web/Service References/DscfBIService/DscfBIServerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DscfBIServerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IDscfBIServerConract_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.2.2:9660/DscfBIService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.2.2:9660/DscfBIService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.2.2:9660/DscfBIService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dscf.BusinessIntegrate.Contract" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDscfBIServerConract_GetPlatformMenuListByOptId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlatformMenuListByOptId" />
  </wsdl:message>
  <wsdl:message name="IDscfBIServerConract_GetPlatformMenuListByOptId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlatformMenuListByOptIdResponse" />
  </wsdl:message>
  <wsdl:message name="IDscfBIServerConract_GetPlatformPermissionListByOptId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlatformPermissionListByOptId" />
  </wsdl:message>
  <wsdl:message name="IDscfBIServerConract_GetPlatformPermissionListByOptId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlatformPermissionListByOptIdResponse" />
  </wsdl:message>
  <wsdl:message name="IDscfBIServerConract_GetOperaterInfoByCookie_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOperaterInfoByCookie" />
  </wsdl:message>
  <wsdl:message name="IDscfBIServerConract_GetOperaterInfoByCookie_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOperaterInfoByCookieResponse" />
  </wsdl:message>
  <wsdl:message name="IDscfBIServerConract_AuthOperaterIsLicit_InputMessage">
    <wsdl:part name="parameters" element="tns:AuthOperaterIsLicit" />
  </wsdl:message>
  <wsdl:message name="IDscfBIServerConract_AuthOperaterIsLicit_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthOperaterIsLicitResponse" />
  </wsdl:message>
  <wsdl:message name="IDscfBIServerConract_SelectAccessPlatformListByCookie_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectAccessPlatformListByCookie" />
  </wsdl:message>
  <wsdl:message name="IDscfBIServerConract_SelectAccessPlatformListByCookie_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectAccessPlatformListByCookieResponse" />
  </wsdl:message>
  <wsdl:message name="IDscfBIServerConract_SeleOperaterListByCookie_InputMessage">
    <wsdl:part name="parameters" element="tns:SeleOperaterListByCookie" />
  </wsdl:message>
  <wsdl:message name="IDscfBIServerConract_SeleOperaterListByCookie_OutputMessage">
    <wsdl:part name="parameters" element="tns:SeleOperaterListByCookieResponse" />
  </wsdl:message>
  <wsdl:portType name="IDscfBIServerConract">
    <wsdl:operation name="GetPlatformMenuListByOptId">
      <wsdl:input wsaw:Action="http://tempuri.org/IDscfBIServerConract/GetPlatformMenuListByOptId" message="tns:IDscfBIServerConract_GetPlatformMenuListByOptId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDscfBIServerConract/GetPlatformMenuListByOptIdResponse" message="tns:IDscfBIServerConract_GetPlatformMenuListByOptId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlatformPermissionListByOptId">
      <wsdl:input wsaw:Action="http://tempuri.org/IDscfBIServerConract/GetPlatformPermissionListByOptId" message="tns:IDscfBIServerConract_GetPlatformPermissionListByOptId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDscfBIServerConract/GetPlatformPermissionListByOptIdResponse" message="tns:IDscfBIServerConract_GetPlatformPermissionListByOptId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOperaterInfoByCookie">
      <wsdl:input wsaw:Action="http://tempuri.org/IDscfBIServerConract/GetOperaterInfoByCookie" message="tns:IDscfBIServerConract_GetOperaterInfoByCookie_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDscfBIServerConract/GetOperaterInfoByCookieResponse" message="tns:IDscfBIServerConract_GetOperaterInfoByCookie_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AuthOperaterIsLicit">
      <wsdl:input wsaw:Action="http://tempuri.org/IDscfBIServerConract/AuthOperaterIsLicit" message="tns:IDscfBIServerConract_AuthOperaterIsLicit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDscfBIServerConract/AuthOperaterIsLicitResponse" message="tns:IDscfBIServerConract_AuthOperaterIsLicit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectAccessPlatformListByCookie">
      <wsdl:input wsaw:Action="http://tempuri.org/IDscfBIServerConract/SelectAccessPlatformListByCookie" message="tns:IDscfBIServerConract_SelectAccessPlatformListByCookie_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDscfBIServerConract/SelectAccessPlatformListByCookieResponse" message="tns:IDscfBIServerConract_SelectAccessPlatformListByCookie_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SeleOperaterListByCookie">
      <wsdl:input wsaw:Action="http://tempuri.org/IDscfBIServerConract/SeleOperaterListByCookie" message="tns:IDscfBIServerConract_SeleOperaterListByCookie_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDscfBIServerConract/SeleOperaterListByCookieResponse" message="tns:IDscfBIServerConract_SeleOperaterListByCookie_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IDscfBIServerConract" type="tns:IDscfBIServerConract">
    <wsp:PolicyReference URI="#WSHttpBinding_IDscfBIServerConract_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPlatformMenuListByOptId">
      <soap12:operation soapAction="http://tempuri.org/IDscfBIServerConract/GetPlatformMenuListByOptId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlatformPermissionListByOptId">
      <soap12:operation soapAction="http://tempuri.org/IDscfBIServerConract/GetPlatformPermissionListByOptId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOperaterInfoByCookie">
      <soap12:operation soapAction="http://tempuri.org/IDscfBIServerConract/GetOperaterInfoByCookie" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthOperaterIsLicit">
      <soap12:operation soapAction="http://tempuri.org/IDscfBIServerConract/AuthOperaterIsLicit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAccessPlatformListByCookie">
      <soap12:operation soapAction="http://tempuri.org/IDscfBIServerConract/SelectAccessPlatformListByCookie" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SeleOperaterListByCookie">
      <soap12:operation soapAction="http://tempuri.org/IDscfBIServerConract/SeleOperaterListByCookie" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DscfBIServerService">
    <wsdl:port name="WSHttpBinding_IDscfBIServerConract" binding="tns:WSHttpBinding_IDscfBIServerConract">
      <soap12:address location="http://192.168.2.2:9660/DscfBIService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://192.168.2.2:9660/DscfBIService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>