Dscf.CarLoan.Dto/Service References/DscfACService/DscfACService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dscf.AuthCenter.Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dscf.AuthCenter.Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:11331/DscfACService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:11331/DscfACService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:complexType name="DepartmentInfoDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="DeptName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="SignAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SignCity" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DepartmentInfoDto" nillable="true" type="tns:DepartmentInfoDto" />
  <xs:complexType name="ArrayOfOperaterInfoDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OperaterInfoDto" nillable="true" type="tns:OperaterInfoDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOperaterInfoDto" nillable="true" type="tns:ArrayOfOperaterInfoDto" />
  <xs:complexType name="OperaterInfoDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CollectionTypeId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CollectionTypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Department" nillable="true" type="tns:DepartmentInfoDto" />
      <xs:element minOccurs="0" name="IDCard" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="RoleIdList" nillable="true" type="q1:ArrayOfint" />
      <xs:element minOccurs="0" name="Sex" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="SupportDeptList" nillable="true" type="tns:ArrayOfDepartmentInfoDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperaterInfoDto" nillable="true" type="tns:OperaterInfoDto" />
  <xs:complexType name="ArrayOfDepartmentInfoDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DepartmentInfoDto" nillable="true" type="tns:DepartmentInfoDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDepartmentInfoDto" nillable="true" type="tns:ArrayOfDepartmentInfoDto" />
  <xs:complexType name="ArrayOfOptCityDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OptCityDto" nillable="true" type="tns:OptCityDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOptCityDto" nillable="true" type="tns:ArrayOfOptCityDto" />
  <xs:complexType name="OptCityDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="SupportDeptList" nillable="true" type="q2:ArrayOfNullableOfint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OptCityDto" nillable="true" type="tns:OptCityDto" />
  <xs:complexType name="ArrayOfDictionaryDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DictionaryDto" nillable="true" type="tns:DictionaryDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDictionaryDto" nillable="true" type="tns:ArrayOfDictionaryDto" />
  <xs:complexType name="DictionaryDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="DictId" type="xs:int" />
      <xs:element minOccurs="0" name="DictKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DictMemo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DictValue" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Parent" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Sort" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DictionaryDto" nillable="true" type="tns:DictionaryDto" />
</xs:schema>