Dscf.PostLoan.Web/Service References/DscfCarLoanService/DscfCarLoanService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dscf.PostLoanGlobal" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dscf.PostLoanGlobal" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:11416/DscfCarLoanService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dscf.CarLoan.Dto" />
  <xs:complexType name="PagedCarLoanBatchDeductDtoList">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="Paged{0}List" Namespace="http://schemas.datacontract.org/2004/07/Dscf.PostLoanGlobal" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="CarLoanBatchDeductDto" Namespace="http://schemas.datacontract.org/2004/07/Dscf.CarLoan.Dto" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentPageIndex" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dscf.CarLoan.Dto" minOccurs="0" name="CurrentPageItems" nillable="true" type="q1:ArrayOfCarLoanBatchDeductDto" />
      <xs:element minOccurs="0" name="TotalItemCount" type="xs:int" />
      <xs:element minOccurs="0" name="TotalPageCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PagedCarLoanBatchDeductDtoList" nillable="true" type="tns:PagedCarLoanBatchDeductDtoList" />
  <xs:complexType name="PagedLoanProductOrderDtoList">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="Paged{0}List" Namespace="http://schemas.datacontract.org/2004/07/Dscf.PostLoanGlobal" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="LoanProductOrderDto" Namespace="http://schemas.datacontract.org/2004/07/Dscf.CarLoan.Dto" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentPageIndex" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dscf.CarLoan.Dto" minOccurs="0" name="CurrentPageItems" nillable="true" type="q2:ArrayOfLoanProductOrderDto" />
      <xs:element minOccurs="0" name="TotalItemCount" type="xs:int" />
      <xs:element minOccurs="0" name="TotalPageCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PagedLoanProductOrderDtoList" nillable="true" type="tns:PagedLoanProductOrderDtoList" />
  <xs:complexType name="PagedCarOverdueListDtoList">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="Paged{0}List" Namespace="http://schemas.datacontract.org/2004/07/Dscf.PostLoanGlobal" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="CarOverdueListDto" Namespace="http://schemas.datacontract.org/2004/07/Dscf.CarLoan.Dto" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentPageIndex" type="xs:int" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dscf.CarLoan.Dto" minOccurs="0" name="CurrentPageItems" nillable="true" type="q3:ArrayOfCarOverdueListDto" />
      <xs:element minOccurs="0" name="TotalItemCount" type="xs:int" />
      <xs:element minOccurs="0" name="TotalPageCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PagedCarOverdueListDtoList" nillable="true" type="tns:PagedCarOverdueListDtoList" />
  <xs:complexType name="PagedCarRemindListDtoList">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="Paged{0}List" Namespace="http://schemas.datacontract.org/2004/07/Dscf.PostLoanGlobal" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="CarRemindListDto" Namespace="http://schemas.datacontract.org/2004/07/Dscf.CarLoan.Dto" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentPageIndex" type="xs:int" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dscf.CarLoan.Dto" minOccurs="0" name="CurrentPageItems" nillable="true" type="q4:ArrayOfCarRemindListDto" />
      <xs:element minOccurs="0" name="TotalItemCount" type="xs:int" />
      <xs:element minOccurs="0" name="TotalPageCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PagedCarRemindListDtoList" nillable="true" type="tns:PagedCarRemindListDtoList" />
</xs:schema>