Dscf.AuthCenter.Dto/Service References/DscfCreditLoanService/DscfCreditLoanService31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Dscf.CreditLoan.Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dscf.CreditLoan.Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:12454/DscfCreditLoanService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:12454/DscfCreditLoanService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfLoanProductOrderDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LoanProductOrderDto" nillable="true" type="tns:LoanProductOrderDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLoanProductOrderDto" nillable="true" type="tns:ArrayOfLoanProductOrderDto" />
  <xs:complexType name="LoanProductOrderDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="OrderId" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoanProductOrderDto" nillable="true" type="tns:LoanProductOrderDto" />
  <xs:complexType name="ArrayOfCreditOverdueListDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CreditOverdueListDto" nillable="true" type="tns:CreditOverdueListDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCreditOverdueListDto" nillable="true" type="tns:ArrayOfCreditOverdueListDto" />
  <xs:complexType name="CreditOverdueListDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="CollectStatus" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CollectStatusName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CollectorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreditStatus" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CreditStatusName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeptOptId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FirstOverdueTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OptDeptId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="OrderId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="OverdueCount" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="OverduePrincipalSum" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SignCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SignDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreditOverdueListDto" nillable="true" type="tns:CreditOverdueListDto" />
  <xs:complexType name="LoanOrderDetailDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="CollectorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContractEndDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ContractStartDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DeductBankAccount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeductBankName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeductBranchBank" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoanMonthRepayList" nillable="true" type="tns:ArrayOfLoan_MonthRepayInfoDto" />
      <xs:element minOccurs="0" name="NetAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="OrderId" type="xs:int" />
      <xs:element minOccurs="0" name="SignCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SignDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UserInfo" nillable="true" type="tns:UserInfoDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoanOrderDetailDto" nillable="true" type="tns:LoanOrderDetailDto" />
  <xs:complexType name="ArrayOfLoan_MonthRepayInfoDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Loan_MonthRepayInfoDto" nillable="true" type="tns:Loan_MonthRepayInfoDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLoan_MonthRepayInfoDto" nillable="true" type="tns:ArrayOfLoan_MonthRepayInfoDto" />
  <xs:complexType name="Loan_MonthRepayInfoDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActualDeductAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ActualDeductDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="AmountOfHand" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ContractAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="DailyPenalty" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="DeductDailyPenalty" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="DeductMonthRepay" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="DeductOverduePenalty" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="EarlyRepayPenalty" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="IsDeductSucess" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="LoanOrderId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MonthDay" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MonthInterest" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="MonthRepay" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="MonthRepayPrincipal" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="OverduePenalty" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PeriodOrder" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="RemainPrincipal" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="RepayDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ToalPeriod" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TotalPricipalInterest" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalServiceFee" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Loan_MonthRepayInfoDto" nillable="true" type="tns:Loan_MonthRepayInfoDto" />
  <xs:complexType name="UserInfoDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddressTel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddressZipCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Age" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IDCard" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserFamilyInfo" nillable="true" type="tns:UserFamilyInfoDto" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="UserWorkInfo" nillable="true" type="tns:UserWorkInfoDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserInfoDto" nillable="true" type="tns:UserInfoDto" />
  <xs:complexType name="UserFamilyInfoDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmergLinkManName1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmergLinkManName2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmergLinkManPhone1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmergLinkManPhone2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmergLinkManRel1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmergLinkManRel2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsHaveChild" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="LineaKinPhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LineaKinRelation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LinealKinName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OtherLinkManName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OtherLinkManPhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OtherLinkManRel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserFamilyInfoDto" nillable="true" type="tns:UserFamilyInfoDto" />
  <xs:complexType name="UserWorkInfoDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CertifyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CertifyName2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CertifyRelation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CertifyRelation2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CertifyTel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CertifyTel2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyTel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dept" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EnterCompanyDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Position" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="WorkCity" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="WorkEmail" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserWorkInfoDto" nillable="true" type="tns:UserWorkInfoDto" />
  <xs:complexType name="LoanSearchViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContractNo" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DeptIds" nillable="true" type="q1:ArrayOfint" />
      <xs:element minOccurs="0" name="IdCard" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OptId" type="xs:int" />
      <xs:element minOccurs="0" name="OrderId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PageNum" type="xs:int" />
      <xs:element minOccurs="0" name="PageSize" type="xs:int" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SignTimeFrom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SignTimeTo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserPhone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoanSearchViewModel" nillable="true" type="tns:LoanSearchViewModel" />
  <xs:complexType name="ArrayOfLoanInfoDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LoanInfoDto" nillable="true" type="tns:LoanInfoDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLoanInfoDto" nillable="true" type="tns:ArrayOfLoanInfoDto" />
  <xs:complexType name="LoanInfoDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Contract" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeductBankAccount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeductBankName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeductBranchBank" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeptId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IDCard" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderId" type="xs:int" />
      <xs:element minOccurs="0" name="OrderType" type="xs:int" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SignCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SignDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoanInfoDto" nillable="true" type="tns:LoanInfoDto" />
  <xs:complexType name="CreditOverdueSearchRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CollectStatus" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CustomerType" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DeptId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="LoanOrderType" type="xs:int" />
      <xs:element minOccurs="0" name="LoanTypeId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="OptId" type="xs:int" />
      <xs:element minOccurs="0" name="RepayDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreditOverdueSearchRequest" nillable="true" type="tns:CreditOverdueSearchRequest" />
  <xs:complexType name="ArrayOfCreditOverdueExcelDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CreditOverdueExcelDto" nillable="true" type="tns:CreditOverdueExcelDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCreditOverdueExcelDto" nillable="true" type="tns:ArrayOfCreditOverdueExcelDto" />
  <xs:complexType name="CreditOverdueExcelDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActualDeductAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ActualDeductDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Amount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ApplicationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BankCard" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConfirmDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Contract" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreditStatus" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DailyPenalties" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="DailyPenalty" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="DayRepay" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="DeductBankAccount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeductBranchBank" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeductMoney" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="DeptId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FirstCustomer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstRepaymentDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IDCard" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsDeductTerm" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Mark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MonthProfit" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="MonthRate" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="MonthRepay" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="MonthRepayPrincipal" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="OverDueDays" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="OverdueCondition" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OverduePenalty" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PayWayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PeriodOrder" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RepayDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RepayDay" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="RepayIdentification" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SignCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SignDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SubBranchCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TermTotal" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ToalPeriod" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserPhone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreditOverdueExcelDto" nillable="true" type="tns:CreditOverdueExcelDto" />
  <xs:complexType name="CreditCountDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AllNum" type="xs:int" />
      <xs:element minOccurs="0" name="ShortNum" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreditCountDto" nillable="true" type="tns:CreditCountDto" />
  <xs:complexType name="ArrayOfCreditRemindListDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CreditRemindListDto" nillable="true" type="tns:CreditRemindListDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCreditRemindListDto" nillable="true" type="tns:ArrayOfCreditRemindListDto" />
  <xs:complexType name="CreditRemindListDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="CollectorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsRemind" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="MonthRepay" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="OptDeptId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="OptName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RepayId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SignCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserPhone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreditRemindListDto" nillable="true" type="tns:CreditRemindListDto" />
  <xs:complexType name="CreditRemidDetailDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ContractNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeductBankAccount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeductBankName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeductBranchBank" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmergLinkManName1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmergLinkManName2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmergLinkManPhone1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmergLinkManPhone2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmergLinkManRel1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmergLinkManRel2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDCard" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MonthRepay" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SignDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Term" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreditRemidDetailDto" nillable="true" type="tns:CreditRemidDetailDto" />
  <xs:complexType name="ArrayOfCreditCriticalAmountListDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CreditCriticalAmountListDto" nillable="true" type="tns:CreditCriticalAmountListDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCreditCriticalAmountListDto" nillable="true" type="tns:ArrayOfCreditCriticalAmountListDto" />
  <xs:complexType name="CreditCriticalAmountListDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contract" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeductBankAccount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeductBankName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeductBranchBank" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MonthRepay" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OperateDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OrderId" type="xs:int" />
      <xs:element minOccurs="0" name="PeriodOrder" type="xs:int" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RepayDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RepayId" type="xs:int" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SignCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SignDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreditCriticalAmountListDto" nillable="true" type="tns:CreditCriticalAmountListDto" />
  <xs:complexType name="CreditDeductViewDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplyId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="BankCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeductBankAccount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeductBankName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeductKind" type="xs:int" />
      <xs:element minOccurs="0" name="DeductMoney" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="DeductType" type="xs:int" />
      <xs:element minOccurs="0" name="IDCard" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderId" type="xs:int" />
      <xs:element minOccurs="0" name="OrderType" type="xs:int" />
      <xs:element minOccurs="0" name="PayType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PeriodOrder" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RepayId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
      <xs:element minOccurs="0" name="SubBranchName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreditDeductViewDto" nillable="true" type="tns:CreditDeductViewDto" />
  <xs:complexType name="ArrayOfLoan_DeductProgressDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Loan_DeductProgressDto" nillable="true" type="tns:Loan_DeductProgressDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLoan_DeductProgressDto" nillable="true" type="tns:ArrayOfLoan_DeductProgressDto" />
  <xs:complexType name="Loan_DeductProgressDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="BackFeedCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeductOptId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="LoanOrderId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ProductType" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Loan_DeductProgressDto" nillable="true" type="tns:Loan_DeductProgressDto" />
  <xs:complexType name="LoanDeductProgressDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActualDeductAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ActualDeductDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ApplyId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="BackFeedCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeductCount" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DeductGuid" type="ser:guid" />
      <xs:element minOccurs="0" name="DeductId" type="xs:int" />
      <xs:element minOccurs="0" name="DeductOptId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DeductOptName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsDeductSucess" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsPaymentType" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IsResult" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="LoanOrderId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="OperateDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PaymentTypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlanDeductAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PlanDeductDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ProductType" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="RepayId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="RepayPeriod" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ReqSn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SN" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoanDeductProgressDto" nillable="true" type="tns:LoanDeductProgressDto" />
  <xs:complexType name="ArrayOfDepartmentInfoDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DepartmentInfoDto" nillable="true" type="tns:DepartmentInfoDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDepartmentInfoDto" nillable="true" type="tns:ArrayOfDepartmentInfoDto" />
  <xs:complexType name="DepartmentInfoDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="DepId" type="xs:int" />
      <xs:element minOccurs="0" name="DepName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SignAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SignCity" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DepartmentInfoDto" nillable="true" type="tns:DepartmentInfoDto" />
  <xs:complexType name="ArrayOfLoanDeductProgressDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LoanDeductProgressDto" nillable="true" type="tns:LoanDeductProgressDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLoanDeductProgressDto" nillable="true" type="tns:ArrayOfLoanDeductProgressDto" />
  <xs:complexType name="ArrayOfProductDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductDto" nillable="true" type="tns:ProductDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductDto" nillable="true" type="tns:ArrayOfProductDto" />
  <xs:complexType name="ProductDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AfterPercent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClosePeriod" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CreateTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DetialContent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FinancialMode" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IsDeleted" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IsEnable" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="LastOperateId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="LastUpdateTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OperateId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="OrderNo" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ProductCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductIcon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductId" type="xs:int" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="YearRebate" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductDto" nillable="true" type="tns:ProductDto" />
  <xs:complexType name="CreditFinancialExportExcleRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="CityName" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ContractDataBegin" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ContractDataEnd" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LoansDataBegin" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LoansDataEnd" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ProductType" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TeamName" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreditFinancialExportExcleRequest" nillable="true" type="tns:CreditFinancialExportExcleRequest" />
  <xs:complexType name="ArrayOfCreditFinancialExportExcleDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CreditFinancialExportExcleDto" nillable="true" type="tns:CreditFinancialExportExcleDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCreditFinancialExportExcleDto" nillable="true" type="tns:ArrayOfCreditFinancialExportExcleDto" />
  <xs:complexType name="CreditFinancialExportExcleDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActualLenderDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ActualLenderDateStr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Amount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ApplyAmount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CityManagerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CityManagerNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CoborrowIDCard" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CoborrowName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contract" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerManager" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CustomerManagerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerManagerPhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeductBankAccount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeductBankName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeductBranchBank" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeductDate" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FirstRepaymentDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FirstRepaymentDateStr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDCard" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsCoborrowLoan" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsExtension" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsPrepayment" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsRecyclingLoans" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OnetimeRepaymentAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="OrderId" type="xs:int" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrepaymentDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PrepaymentDateStr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Purpose" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegionalManagerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegionalManagerNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remarks" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RepayPerMonth" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SalesManagerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SalesManagerNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SignCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SignDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SignDateStr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TeamManager" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TeamManagerGroup" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TeamManagerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Term" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreditFinancialExportExcleDto" nillable="true" type="tns:CreditFinancialExportExcleDto" />
  <xs:complexType name="BankInfoDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="BankCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BankInfoId" type="xs:int" />
      <xs:element minOccurs="0" name="BankName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BankInfoDto" nillable="true" type="tns:BankInfoDto" />
</xs:schema>