Dscf.AuthCenter.Dto/Service References/DscfCreditLoanService/DscfCreditLoanService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:12454/DscfCreditLoanService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:12454/DscfCreditLoanService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dscf.CreditLoan.Dto" />
  <xs:import schemaLocation="http://localhost:12454/DscfCreditLoanService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Dscf.PostLoanGlobal" />
  <xs:element name="UpdateOrderCollectStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderId" type="xs:int" />
        <xs:element minOccurs="0" name="collectStatus" type="xs:int" />
        <xs:element minOccurs="0" name="optId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrderCollectStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateOrderCollectStatusResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrderCollectStatusBatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="orderIds" nillable="true" type="q1:ArrayOfint" />
        <xs:element minOccurs="0" name="collectStatus" type="xs:int" />
        <xs:element minOccurs="0" name="optId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrderCollectStatusBatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateOrderCollectStatusBatchResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoanProductOrderByUserId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoanProductOrderByUserIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dscf.CreditLoan.Dto" minOccurs="0" name="GetLoanProductOrderByUserIdResult" nillable="true" type="q2:ArrayOfLoanProductOrderDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPageOverdueList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageNum" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="OptId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPageOverdueListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dscf.PostLoanGlobal" minOccurs="0" name="GetPageOverdueListResult" nillable="true" type="q3:PagedCreditOverdueListDtoList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoanProductOrderDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoanProductOrderDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dscf.CreditLoan.Dto" minOccurs="0" name="GetLoanProductOrderDetailResult" nillable="true" type="q4:LoanOrderDetailDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPageLoanInfoList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Dscf.CreditLoan.Dto" minOccurs="0" name="LoanSearchViewModel" nillable="true" type="q5:LoanSearchViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPageLoanInfoListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Dscf.PostLoanGlobal" minOccurs="0" name="GetPageLoanInfoListResult" nillable="true" type="q6:PagedLoanInfoDtoList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOverdueExcelList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Dscf.CreditLoan.Dto" minOccurs="0" name="overdueSearchRequest" nillable="true" type="q7:CreditOverdueSearchRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOverdueExcelListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Dscf.CreditLoan.Dto" minOccurs="0" name="GetOverdueExcelListResult" nillable="true" type="q8:ArrayOfCreditOverdueExcelDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIsRemindCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="optId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIsRemindCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Dscf.CreditLoan.Dto" minOccurs="0" name="GetIsRemindCountResult" nillable="true" type="q9:CreditCountDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoan_MonthRepayInfoByorderID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoan_MonthRepayInfoByorderIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Dscf.CreditLoan.Dto" minOccurs="0" name="GetLoan_MonthRepayInfoByorderIDResult" nillable="true" type="q10:ArrayOfLoan_MonthRepayInfoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRepayRemindList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RepayIdArray" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRepayRemindListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Dscf.CreditLoan.Dto" minOccurs="0" name="GetRepayRemindListResult" nillable="true" type="q11:ArrayOfCreditRemindListDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPageRepayRemindList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageNum" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="optId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPageRepayRemindListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Dscf.PostLoanGlobal" minOccurs="0" name="GetPageRepayRemindListResult" nillable="true" type="q12:PagedCreditRemindListDtoList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCreditRemind">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="repayId" type="xs:int" />
        <xs:element minOccurs="0" name="isRemind" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCreditRemindResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateCreditRemindResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoan_MonthRepayInfoByorderIDPeriodOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderId" type="xs:int" />
        <xs:element minOccurs="0" name="periodOrder" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoan_MonthRepayInfoByorderIDPeriodOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Dscf.CreditLoan.Dto" minOccurs="0" name="GetLoan_MonthRepayInfoByorderIDPeriodOrderResult" nillable="true" type="q13:Loan_MonthRepayInfoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCreditRemindDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderId" type="xs:int" />
        <xs:element minOccurs="0" name="repayId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCreditRemindDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Dscf.CreditLoan.Dto" minOccurs="0" name="GetCreditRemindDetailResult" nillable="true" type="q14:CreditRemidDetailDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCriticalAmountList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageNum" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="orderId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCriticalAmountListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Dscf.PostLoanGlobal" minOccurs="0" name="GetCriticalAmountListResult" nillable="true" type="q15:PagedCreditCriticalAmountListDtoList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOverdueMonthListByOrderId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOverdueMonthListByOrderIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Dscf.CreditLoan.Dto" minOccurs="0" name="GetOverdueMonthListByOrderIdResult" nillable="true" type="q16:ArrayOfLoan_MonthRepayInfoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMonthRepayInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Dscf.CreditLoan.Dto" minOccurs="0" name="model" nillable="true" type="q17:CreditDeductViewDto" />
        <xs:element minOccurs="0" name="type" type="xs:int" />
        <xs:element minOccurs="0" name="isSuccess" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMonthRepayInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateMonthRepayInfoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeductionFailedList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="statusList" nillable="true" type="q18:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeductionFailedListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Dscf.CreditLoan.Dto" minOccurs="0" name="GetDeductionFailedListResult" nillable="true" type="q19:ArrayOfLoan_DeductProgressDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeductinfoFailedAddAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="idAndPeriods" nillable="true" type="q20:ArrayOfstring" />
        <xs:element minOccurs="0" name="operatorId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeductinfoFailedAddAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeductinfoFailedAddAllResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeductinfoFailedAddAlls">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="operatorId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeductinfoFailedAddAllsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeductinfoFailedAddAllsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeductinfoFailedAddOne">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderId" type="xs:int" />
        <xs:element minOccurs="0" name="operatorId" type="xs:int" />
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Dscf.CreditLoan.Dto" minOccurs="0" name="model" nillable="true" type="q21:LoanDeductProgressDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeductinfoFailedAddOneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeductinfoFailedAddOneResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateApplyIdByOrderId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="applyId" type="xs:int" />
        <xs:element minOccurs="0" name="orderId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateApplyIdByOrderIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateApplyIdByOrderIdResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChildDeptListByDeptID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parentDeptID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChildDeptListByDeptIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Dscf.CreditLoan.Dto" minOccurs="0" name="GetChildDeptListByDeptIDResult" nillable="true" type="q22:ArrayOfDepartmentInfoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupportCityList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupportCityListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Dscf.CreditLoan.Dto" minOccurs="0" name="GetSupportCityListResult" nillable="true" type="q23:ArrayOfDepartmentInfoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditLoanOrderReminderByOrderId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderId" type="xs:int" />
        <xs:element minOccurs="0" name="deptOptId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditLoanOrderReminderByOrderIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditLoanOrderReminderByOrderIdResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPageDeductApprovalList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageNum" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element xmlns:q24="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="keyList" nillable="true" type="q24:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPageDeductApprovalListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Dscf.PostLoanGlobal" minOccurs="0" name="GetPageDeductApprovalListResult" nillable="true" type="q25:PagedCreditOverdueListDtoList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeductList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeductListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Dscf.CreditLoan.Dto" minOccurs="0" name="GetDeductListResult" nillable="true" type="q26:ArrayOfLoanDeductProgressDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoanProductList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoanProductListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Dscf.CreditLoan.Dto" minOccurs="0" name="GetLoanProductListResult" nillable="true" type="q27:ArrayOfProductDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCreditFinancialExportExcleList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Dscf.CreditLoan.Dto" minOccurs="0" name="model" nillable="true" type="q28:CreditFinancialExportExcleRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCreditFinancialExportExcleListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Dscf.CreditLoan.Dto" minOccurs="0" name="GetCreditFinancialExportExcleListResult" nillable="true" type="q29:ArrayOfCreditFinancialExportExcleDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserInfoByUserId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserInfoByUserIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Dscf.CreditLoan.Dto" minOccurs="0" name="GetUserInfoByUserIdResult" nillable="true" type="q30:UserInfoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderInfoByOrderId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderInfoByOrderIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Dscf.CreditLoan.Dto" minOccurs="0" name="GetOrderInfoByOrderIdResult" nillable="true" type="q31:LoanOrderDetailDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBankInfoByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBankInfoByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Dscf.CreditLoan.Dto" minOccurs="0" name="GetBankInfoByNameResult" nillable="true" type="q32:BankInfoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>