Dscf.AuthCenter.Dto/Service References/DscfCreditLoanService/DscfCreditLoanService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dscf.PostLoanGlobal" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dscf.PostLoanGlobal" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:12454/DscfCreditLoanService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dscf.CreditLoan.Dto" />
  <xs:complexType name="PagedCreditOverdueListDtoList">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="Paged{0}List" Namespace="http://schemas.datacontract.org/2004/07/Dscf.PostLoanGlobal" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="CreditOverdueListDto" Namespace="http://schemas.datacontract.org/2004/07/Dscf.CreditLoan.Dto" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentPageIndex" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dscf.CreditLoan.Dto" minOccurs="0" name="CurrentPageItems" nillable="true" type="q1:ArrayOfCreditOverdueListDto" />
      <xs:element minOccurs="0" name="TotalItemCount" type="xs:int" />
      <xs:element minOccurs="0" name="TotalPageCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PagedCreditOverdueListDtoList" nillable="true" type="tns:PagedCreditOverdueListDtoList" />
  <xs:complexType name="PagedLoanInfoDtoList">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="Paged{0}List" Namespace="http://schemas.datacontract.org/2004/07/Dscf.PostLoanGlobal" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="LoanInfoDto" Namespace="http://schemas.datacontract.org/2004/07/Dscf.CreditLoan.Dto" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentPageIndex" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dscf.CreditLoan.Dto" minOccurs="0" name="CurrentPageItems" nillable="true" type="q2:ArrayOfLoanInfoDto" />
      <xs:element minOccurs="0" name="TotalItemCount" type="xs:int" />
      <xs:element minOccurs="0" name="TotalPageCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PagedLoanInfoDtoList" nillable="true" type="tns:PagedLoanInfoDtoList" />
  <xs:complexType name="PagedCreditRemindListDtoList">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="Paged{0}List" Namespace="http://schemas.datacontract.org/2004/07/Dscf.PostLoanGlobal" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="CreditRemindListDto" Namespace="http://schemas.datacontract.org/2004/07/Dscf.CreditLoan.Dto" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentPageIndex" type="xs:int" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dscf.CreditLoan.Dto" minOccurs="0" name="CurrentPageItems" nillable="true" type="q3:ArrayOfCreditRemindListDto" />
      <xs:element minOccurs="0" name="TotalItemCount" type="xs:int" />
      <xs:element minOccurs="0" name="TotalPageCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PagedCreditRemindListDtoList" nillable="true" type="tns:PagedCreditRemindListDtoList" />
  <xs:complexType name="PagedCreditCriticalAmountListDtoList">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="Paged{0}List" Namespace="http://schemas.datacontract.org/2004/07/Dscf.PostLoanGlobal" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="CreditCriticalAmountListDto" Namespace="http://schemas.datacontract.org/2004/07/Dscf.CreditLoan.Dto" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentPageIndex" type="xs:int" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dscf.CreditLoan.Dto" minOccurs="0" name="CurrentPageItems" nillable="true" type="q4:ArrayOfCreditCriticalAmountListDto" />
      <xs:element minOccurs="0" name="TotalItemCount" type="xs:int" />
      <xs:element minOccurs="0" name="TotalPageCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PagedCreditCriticalAmountListDtoList" nillable="true" type="tns:PagedCreditCriticalAmountListDtoList" />
</xs:schema>